@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@200;300;400;500;600;700;800;900&display=swap');

.font-inter { font-family: 'Inter', sans-serif; }
.font-poppins { font-family: 'Poppins', sans-serif; }
.font-roboto { font-family: 'Roboto', sans-serif; }
.font-montserrat { font-family: 'Montserrat', sans-serif; }
.font-nunito { font-family: 'Nunito', sans-serif; }
.font-saira-condensed { font-family: 'Saira Condensed', sans-serif; }

.box-shadow { box-shadow: 1px 2px 4px rgb(0 0 0 / 27%)!important; }
.box-shadow-1 { box-shadow: 0 .3rem .5rem rgba(0,0,0,.1)!important; }

body { background: #F8F8F8; }

label { 
  font-family: 'Inter', sans-serif;
  color: #495057; 
}

a { text-decoration: none; }

.weight-200 { font-weight: 200!important; }
.weight-300 { font-weight: 300!important; }
.weight-400 { font-weight: 400!important; }
.weight-500 { font-weight: 500!important; }
.weight-600 { font-weight: 600!important; }
.weight-700 { font-weight: 700!important; }
.weight-800 { font-weight: 800!important; }
.weight-900 { font-weight: 900!important; }

.hoverBox {
  box-shadow: 0px !important;
  transition: all .2s ease-in-out;
}
.hoverBox:hover {
  box-shadow: 0px 10px 20px -10px #022b73;
}

.pb-4-5 { padding-bottom: 2rem!important; }
.pt-2-5 { padding-top: .8rem!important; }
.pt-4-5 { padding-top: 2rem!important; }
.px-4-5 { padding-left: 2rem!important;padding-right: 2rem!important; }
.py-2-3 { padding-bottom: .65rem!important; padding-top: .65rem!important; }

.p-form {
	border-color: #adacac;
	padding: 10px 15px!important;
}
.p-form:focus, .select-form:focus, textarea:focus {
  outline:none!important; 
  border-color: #adacac!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}

.select-form {
    width: 100%;
    border-color: #ced4da;
    padding-bottom: .68rem!important;
    padding-top: .7rem!important;
    padding-left: 1rem!important;
    padding-right: 1rem!important;
}

.file-form {
    overflow-x: hidden;
    width: 100%;
    background: #fff;
    border: 1px solid #ced4da;
    border-radius: 2.2px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

.textarea-form {
    width: 100%;
    border-color: #ced4da;
    border-radius: 2.2px;
    padding: 15px;
    min-height: 125px;
}

.filter-option-inner-inner, .btn-light { 
	border:0px!important; 
	background: #FFF!important; 
	color:#222!important; 
	padding: .5px;
}
.dropdown-toggle {
    border: 1px solid #ced4da!important;
    padding-bottom: .60rem!important;
    padding-top: .60rem!important;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 2.2px!important;
}
.dropdown-item.selected.active:hover {
    background: #007bff!important;
}

.w-40px { width: 40px; }
.w-80px { width: 80px; }

@media (min-width: 990px) {
	.w-min-lg-300 { min-width: 300px!important; }
	.w-max-lg-300 { max-width: 300px!important; }
	.w-lg-375px { width: 375px!important; }
	.w-lg-10 { width: 10%!important; }
	.w-lg-15 { width: 15%!important; }
	.w-lg-17 { width: 17%!important; }
	.w-lg-20 { width: 20%!important; }
	.w-lg-22 { width: 22%!important; }
	.w-lg-23 { width: 23%!important; }
	.w-lg-25 { width: 25%!important; }
	.w-lg-30 { width: 30%!important; }
	.w-lg-35 { width: 35%!important; }
	.w-lg-40 { width: 40%!important; }
	.w-lg-45 { width: 45%!important; }
	.w-lg-50 { width: 50%!important; }
	.w-lg-55 { width: 55%!important; }
	.w-lg-60 { width: 60%!important; }
	.w-lg-65 { width: 65%!important; }
	.w-lg-70 { width: 70%!important; }
	.w-lg-75 { width: 75%!important; }
	.w-lg-80 { width: 80%!important; }
	.w-lg-85 { width: 85%!important; }
	.w-lg-90 { width: 90%!important; }
	.w-lg-95 { width: 95%!important; }
	.w-lg-97 { width: 97%!important; }
}

.hover-d-none:hover { text-decoration: none!important; }
.hover-white:hover { transition: all .5s ease-in-out; color:#FFF!important; }


.mb-4-5 {margin-bottom: 2.3rem!important;}
.mt-2-5 {margin-top: .8rem!important; }
.mt-4-5 {margin-top: 2.3rem!important;}
.mt--20px { margin-top: -20px; }
.mt--15px { margin-top: -15px; }
.mt--10px { margin-top: -10px; }

.background-position-center { background-position: center center; }
.background-size-cover { background-size: cover; background-repeat: no-repeat; }
.object-fit-cover { object-fit: cover; }
.object-fit-contain { object-fit: contain; }

.h-0px { height: 0px!important; }
.h-150 { height: 150px!important; }
.h-min-100 { min-height: 100px!important; }
.h-2px { height: 2px; }

@media (min-width: 990px) {
  .h-lg-100vh { height: 100vh!important; }
  .mb-lg-4-5 {margin-bottom: 2.3rem!important;} 
  .h-lg-200 { height: 200px!important; }
  .h-lg-225 { height: 225px!important; }
  .h-lg-250 { height: 250px!important; }
  .h-lg-300 { height: 300px!important; }
  .h-lg-325 { height: 325px!important; }
  .h-lg-350 { height: 350px!important; }
  .h-lg-400 { height: 400px!important; }
  .h-lg-400 { height: 400px!important; }
  .h-lg-500 { height: 500px!important; }
  .h-lg-550 { height: 550px!important; }
  .h-min-lg-225 { min-height: 225px!important; }
}
@media (max-width: 768px) {
 .d-xs-none { display: none; } 
 .d-xs-block { display: block; }
 .h-xs-100vh { height: 100vh!important; } 
}
.h-100vh { height: 100vh!important; }
.h-0 { height: 0px!important; }
.w-0 { width: 0px!important; }

.px-2-3 { padding-left: .62rem!important; padding-right: .62rem!important; }
.px-3-5 { padding-left: 1.25rem!important; padding-right: 1.25rem!important; }
.py-2-5 { padding-bottom: .8rem!important; padding-top: .8rem!important; }
.py-1-5 {padding-top:0.35rem!important;padding-bottom:0.35rem!important;}
@media (min-width: 991px) { .px-xl-8 { padding-left: 7rem!important; padding-right: 7rem!important; }}
@media (min-width: 991px) { .px-xl-7 { padding-left: 6rem!important; padding-right: 6rem!important; }}
@media (min-width: 991px) { .px-xl-6 { padding-left: 5rem!important; padding-right: 5rem!important; }}

.color-777 { color: #777!important; }
.color-666 { color: #666!important; }
.color-555 { color: #555!important; }
.color-444 { color: #444!important; }
.color-333 { color: #333!important; }
.color-e2  { color: #e2e2e2; }

.fs-9 { font-size: 9px!important; }
.fs-10 { font-size: 10px!important; }
.fs-11 { font-size: 11px!important; }
.fs-12 { font-size: 12px!important; }
.fs-13 { font-size: 13px!important; }
.fs-14 { font-size: 14px!important; }
.fs-15 { font-size: 15px!important; }
.fs-16 { font-size: 16px!important; }
.fs-17 { font-size: 17px!important; }
.fs-18 { font-size: 18px!important; }
.fs-19 { font-size: 19px!important; }
.fs-20 { font-size: 20px!important; }
.fs-21 { font-size: 21px!important; }
.fs-22 { font-size: 22px!important; }
.fs-23 { font-size: 23px!important; }
.fs-24 { font-size: 24px!important; }
.fs-25 { font-size: 25px!important; }
.fs-30 { font-size: 30px!important; }
.fs-35 { font-size: 35px!important; }
.fs-40 { font-size: 40px!important; }
.fs-50 { font-size: 50px!important; }
@media (min-width: 769px) {
  .fs-md-30 { font-size: 30px!important; }
	.fs-md-75 { font-size: 75px!important; }
  .fs-md-50 { font-size: 50px!important; }
  .fs-md-55 { font-size: 55px!important; }
  .fs-md-60 { font-size: 60px!important; }
}
@media (max-width: 768px) {
  .fs-xs-25 { font-size: 25px!important; }
  .fs-xs-35 { font-size: 35px!important; }
	.fs-xs-50 { font-size: 50px!important; }
}



/* ROUNDED */
.rounded-10 { border-radius: 10px; }
.rounded-20 { border-radius: 20px; }
.rounded-30 { border-radius: 30px; }
.rounded-3 { border-radius: 3px!important; }
.rounded-2 { border-radius: 2px!important; }
.rounded-top-2 { border-top-left-radius: 2px!important; border-top-right-radius: 2px!important; }
.rounded-1 { border-radius: 1px!important; }
.rounded-right-0 { 
  border-bottom-right-radius: 0px!important;
  border-top-right-radius: 0px!important; 
}
.rounded-left-0 { 
  border-bottom-left-radius: 0px!important;
  border-top-left-radius: 0px!important; 
}
.rounded-bottom-0 { 
  border-bottom-left-radius: 0px!important;
  border-bottom-right-radius: 0px!important; 
}
.rounded-top-0 { 
  border-top-left-radius: 0px!important;
  border-top-right-radius: 0px!important; 
}


/* OUTLINE */
.outline-0, .btn { outline: 0px!important; }
.outline-0:focus, .btn:focus {
  outline:none!important; 
  border-color: transparent!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}


.bg-hover-f9:hover { background: #f9f9f9!important; }
.bg-hover-gray:hover { background: #e6e6e6!important; }

.bg-444 { background: #444!important; }
.bg-1 { background: #111; }
.bg-blue-dark { background: #015498; }
.bg-orange { background: #ff9933; }
.bg-f1 { background: #F1F1F1; }
.bg-f9 { background: #F9F9F9; }
.bg-db { background: #dbdbdb; }


/* LETTER SPACING */
.ls-05 { letter-spacing: .5px; }
.ls-1 { letter-spacing: 1px; }


.border-form { border: 1px solid #ced4da!important; }
.border-right-0 { border-right: 0px!important; }
.border-left-0 { border-right: 0px!important; }

/* TEXT-SHADOW */
.text-shadow-5 { text-shadow: 2px 2px rgba(0, 0, 0, .5); }
.text-shadow-4 { text-shadow: 2px 2px rgba(0, 0, 0, .4); }
.text-shadow-3 { text-shadow: 2px 2px rgba(0, 0, 0, .3); }
.text-shadow-2 { text-shadow: 2px 2px rgba(0, 0, 0, .2); }
.text-shadow-1 { text-shadow: 1px 1px rgba(0, 0, 0, .1); }




.bg-base { background: #222e3c!important; }

.btn-add {
  background: #222e3c;
  color: #f5f5f5;
  padding: 10px 15px;
  border-radius: 2px;
  border:none;
  transition: all .2s ease-in-out;
}
.btn-add:hover { 
    color: #FFF; 
    text-decoration: none;
    background: #1d2733!important;
}

.section-title {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
    padding-top: .5rem;
    color: #fff;
    background: #222e3c;
    border-radius: 2px;
    letter-spacing: .5px;
}

.boxToast {
    position:fixed;
    left:20px;
    bottom:20px;
    right:20px;
    z-index: 999999;
    margin-left: auto;
    width: 350px;
}

#alertSuccess, #alertDanger {
    border-radius: .2rem;
    padding-bottom: .25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1rem;
    box-shadow: 0 .1rem .2rem rgba(0,0,0,.05);
}

.toast-success { background: rgba(40, 167, 69, 0.93); }
.toast-danger  { background: rgba(220, 53, 69, .94); }


.color-blue-dark { color: #005594; }
.color-blue-info-link { color: #174b96!important; }


.background-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: .7;
    background: #000;
}

.z-3 { z-index: 999; }
.z-4 { z-index: 9999; }


.square-40 { width: 40px; height: 40px; }
.square-100 { width: 100px; height: 100px; }


@media (max-width: 768px) {
  .text-xs-center { text-align: center; }
  .text-xs-right { text-align: right; }
}



.cursor-pointer { cursor: pointer; }
.cursor-not-allowed { cursor: not-allowed; }
.cursor-text { cursor: text; }
.cursor-drag { cursor: grab; }


.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.right-0 { right: 0!important; left: unset; }

.square-60 { width: 60px; height: 60px; }